
* {
    margin: 0;
    padding: 0;
}

header,nav,main,aside,section,article,footer,div {
    display: block;
}
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype'); 
    font-weight: 400; 
    font-style: normal;
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype'); 
    font-weight: 400; 
    font-style: normal;
    font-family: 'Abel';
    src: url('/fonts/Abel-Regular.ttf') format('truetype'); 
    font-weight: 400; 
    font-style: normal;
}

body{
    background-color: #FFFFFF;
}

#wrapper {
    margin: 32px 32px;
}
header {
    display: flex;         
    align-items: center;
    position: relative;
}

#logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 64px;
    height: 64px;
}
a {
    text-decoration: none;
}
#logo span{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 25%;
    color: #3E3F43;
    position: absolute;
    width: 191px;
    height: 33px;
    top: 32px;
    left: 93px;
}
nav{
    position: absolute;
    top: 32px; 
    left: 419px;
    display: flex;
}

nav a{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #612999;
    margin-right: 62px;
}
nav a:first-child {
    font-weight: 700;
}

.first {
    background-image: url(/images/Snacks.jpg);
    background-size: cover;
    position: relative;
    top: 32px;
    width: 1200px;
    height: 797px;
    opacity: 1;
}

.first h1{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #612999;
    width: 448px;
    height: 131px;
    position: absolute;
    top: 32px;
    left: 32px;
    opacity: 1;
}

.first p {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
    width: 448;
    height: 99;
    position: absolute;
    top: 163px;
    left: 32px;
    opacity: 1;
}
.sec {
    position: relative;
    margin-top: 32px; 
}
.sec h2{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #612999;
    width: 136;
    height: 40;
    margin-top: 32px;
    margin-bottom: 32px;
    left: 32px;
    opacity: 1;
}
.sec p{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 141%;
    letter-spacing: 0%;
    text-align: justify;
    color: black;
    height: 310;
    left: 32px;
    opacity: 1;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-right: 384px;
    gap: 32px;
    height: 1096;
    top: 1371px;
    left: 32px;
    opacity: 1;    
}
.products-container h2{
    width: 100%;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #612999;
    width: 282;
    height: 40;
    top: 1371px;
    opacity: 1;
}

.product-card {
    width: 376px;
    height: 496px;
    border-radius: 38px;
    opacity: 1;
    background: #EFECFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative; 
    box-shadow: 0px 6px 40px 0px #3984BB0D;
    margin-top: 32px;
    margin-left: 32px;
}


.image-wrapper {
    position: relative;
    width: 100%;
    height: 220px;
}

.image-wrapper img:not(.icon-img) {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.heart-container {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #EFECFF;  
    width: 40px;
    height: 40px;
    width: 47;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container img {
    width: 20px;
}

.product-card h3 {
    font-family: 'Abel';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    color: black;
    width: 221;
    height: 38;
    top: 1740px;
    left: 64px;
    margin-top: 21px;
    margin-left: 32px;
}

.product-card p {
    font-family: 'Abel';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
    width: 315;
    height: 96;
    top: 1785px;
    left: 64px;
    margin-top: 7px;
    margin-left: 32px;
}

.card-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px 25px;
}

.price {
    font-family: 'Abel';
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    color: #612999;
    width: 136;
    height: 45;
    top: 1858px;
    left: 64px;
    margin-left: 32px;
    margin-top: 73px;
}

.basket-container {
    background: #612999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 73px;
}
