
* {
    margin: 0;
    padding: 0;
}

header,nav,main,aside,section,article,footer,div {
    display: block;
}
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype'); 
    font-weight: 200 900; 
    font-style: normal;
}
    @font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype'); 
    font-weight: 200 900; 
    font-style: normal;
}
@font-face {
    font-family: 'Abel';
    src: url('/fonts/Abel-Regular.ttf') format('truetype'); 
    font-weight: 200 900;  
    font-style: normal;
}

body{
    background-color: #FFFFFF;
}

#wrapper {
    margin: 0 auto;
    width: 1136px;
}
header {
    display: flex;   
    justify-content: flex-start; 
    gap: 135px;     
    align-items: center;
    position: relative;
    width: 1046px;
    height: 64px;
    top: 32px;
    left: 32px;
    opacity: 1;
    margin-bottom: 32px;
}

#logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 64px;
    height: 64px;
}
a {
    text-decoration: none;
}

#logo span{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 25%;
    color: #3E3F43;
    position: absolute;
    width: 191px;
    height: 33px;
    top: 32px;
    left: 93px;
}

nav{
    position: absolute;
    top: 32px; 
    left: 419px;
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 62px;
}

nav a{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3E3F43;
    
    white-space: nowrap;
}
nav a:hover{
    color: #612999;
}
nav a.active{
    font-weight: 800;
}

.first {
    background-image: url(/images/Snacks.jpg);
    background-size: cover;
    position: relative;
    top: 32px;
    width: 1200px;
    height: 797px;
    margin-bottom: 32px;
    opacity: 1;
}

.first h1{
    font-family: 'Nunito';
    font-weight: 800;
    font-family: Nunito;
    font-style: ExtraBold;  
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #612999;
    width: 448px;
    height: 131px;
    position: absolute;
    top: 32px;
    left: 32px;
    opacity: 1;
}

.first p {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
    width: 448;
    height: 99;
    position: absolute;
    top: 163px;
    left: 32px;
    opacity: 1;
}

.sec {
    position: relative;
    margin-top: 32px; 
}

.sec h2{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #612999;
    width: 136px;
    height: 40px;
    position: absolute;
    top: 32px;
    left: 32px;
    margin-bottom: 32px;
    opacity: 1;
}

.sec p{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 141%;
    letter-spacing: 0%;
    text-align: justify;
    color: black;
    width: 1136px;
    height: 310px;
    position: relative;
    top: 64px;
    left: 32px;
    opacity: 1;
}

.products-section{
    position: relative;
    margin-top: 32px; 
}
.products-section h2{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #612999;
    position: relative;
    left: 32px;
    opacity: 1;
    margin-bottom: 32px;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-top: top 32px;
    margin-left: top 32px;
    gap: 32px;
    margin-bottom: 247px;
}

.product-card {
    width: 376px;
    height: 496px;
    border-radius: 38px;
    opacity: 1;
    background: #EFECFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative; 
    box-shadow: 0px 6px 40px 0px #3984BB0D;
}


.image-wrapper {
    position: relative;
    width: 100%;
    height: 220px;
}

.image-wrapper img:not(.icon-img) {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.heart-container {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #EFECFF;  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container img {
    width: 20px;
}

.product-card h3 {
    font-family: 'Abel';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    color: black;
    width: 221px;
    height: 38px;
    top: 1740px;
    left: 64px;
    margin-top: 21px;
    margin-left: 32px;
    margin-bottom: 7px;
}

.product-card p {
    font-family: 'Abel';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
    width: 315px;
    height: 96px;
    top: 1785px;
    left: 64px;
    margin-top: 7px;
    margin-left: 32px;
}

.card-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px 25px;
}

.price {
    font-family: 'Abel';
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    color: #612999;
    width: 136px;
    height: 45px;
    top: 1858px;
    left: 64px;
    margin-left: 32px;
    margin-top: 73px;
}

.basket-container {
    background: #612999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 73px;
}

.main-footer {
    background-color:#EFECFF;
    width: 100%;
    width: 1200px;
    height: 287px;
    top: 2713px;
    opacity: 1;

}

.footer-wrapper {
    max-width: 1136px; 
    margin: 0 auto;
    padding: 0 20px;
}

.footer-columns {
    display: flex;
    gap: 126px; 
    margin-bottom: 24px;
}

.col-title {
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color:#333333;

}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 16px;
}

.footer-links a {
    text-decoration: none;
    color:#333333;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.social-row {
    display: flex;
    gap: 15px;
    margin-bottom: 16px;
}

.social-row img {
    width: 20px;
    height: 20px;
    top: 2895px;
    left: 125px;
    opacity: 1;
}

.copyrights p {
    font-family: Nunito;
    color:#333333;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 52px;
}

.gallery-section{
    display: flex;
    justify-self: center;
    gap: 20px;
    padding: 32px 0;
}

.gallery-section img{
    height: 300px;
    width: auto;
    border: 4px solid #8a2be2; 
    object-fit: cover;
    cursor: pointer;
}

.snacks-list-section ul {
    list-style: none; 
    padding: 0;
}

.snacks-list-section li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
    font-size: 18px;    
}


.rocket-icon {
   background-color: #612999; 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;

    background-image: url('../images/rocket.png'); 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.your-choice-section {
    padding: 20px;
    margin-bottom: 32px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.your-choice-section table {
    width: 80%;
    border-collapse: collapse; 
    margin-top: 20px;
}

.your-choice-section th, 
.your-choice-section td {
    border: 1px solid #612999; 
    padding: 12px;
    text-align: right;
}


.your-choice-section thead th {
    background-color: #612999;
    color: white;
    font-weight: bold;
}


.your-choice-section tbody tr:hover {
    background-color: #f2eef7;
}